<div>
  <div>
    <p>
      Ingrese el id del candidato
    </p>
    <input type="text" [(ngModel)]="id" />
    <button (click)="buscarPorId()">
      Cargar
    </button>
  </div>
  <div *ngIf="candidato">
    <div>
      <h2>
        Persona
      </h2>
      <p>
        Id: {{candidato}}
      </p>
    </div>
    <div>
      <h2>
        Binomio
      </h2>
      <div *ngFor="let binomio of binomios">
        <p>
          Monto: {{ binomio.monto }}
        </p>
      </div>
    </div>
  </div>
</div>