<div>
  <div>
    <p>
      Nombre del candidato
     </p>
    <input type="text" [(ngModel)]="nombre" />
    <p>
      Apellido del candidato
     </p>
    <input type="text" [(ngModel)]="apellido" />
    <p>
      Nombre del binomio
     </p>
    <input type="text" [(ngModel)]="nombreBinomio" />
    <button (click)="ingresarCandidato()">
      Cargar
    </button>
  </div>
  <div *ngIf="candidato">
    <div>
      <h2>
        Persona
      </h2>
      <p>
        Id: {{candidato}}
      </p>
    </div>
    <div>
      <h2>
        Binomio
      </h2>
      <div *ngFor="let binomio of binomios">
        <p>
          Monto: {{ binomio.monto }}
        </p>
      </div>
    </div>
  </div>
</div>